<h1>Portfolio items</h1>
<% @portfolio_items.each do |portfolio| %>
    <p><%= portfolio.title %></p>
    <p><%= portfolio.subtitle %></p>
    <p><%= portfolio.body %></p>
    <p><%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %></p>
<% end %>