  <h1 class="cover-heading">Bienvenido.</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque. Fermentum leo vel orci porta non pulvinar. Aliquam etiam erat velit scelerisque in dictum. Libero volutpat sed cras ornare arcu dui vivamus arcu. Nunc eget lorem dolor sed viverra ipsum.</p>
  <p class="lead">
    <%= link_to "Sobre mi", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>